#contact_modal {
  display: none;

  /* transform: translate(0%, -320%); */
  /* transform: translate(0%, -280%); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position:fixed; 
  width: 100%;
  height: 96vh;
  z-index: 1000;
  border:none;


  /* transform: translate(-50%, -50%);  */

  /* margin-top: -150px; */


  background-color: rgba(255, 255, 255, 0.9);
  /* Add other styles as needed */



  /* position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000; 
  display: flex;
  align-items: center;
  justify-content: center; */


}


.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 40%;
  height: 100vh;
  border: none;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  position:fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: -10px;
  /* margin: auto; */



  /* width: 30%;
  background-color: #db8876;
  border-radius: 5px;
  padding: 10px; */


  height: auto;
  max-height: 100%; /* Set a maximum height to prevent overflow */
  /* overflow-y: auto; */
}

.modal header {
  justify-content: space-between;
  width: 100%;
 
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;

}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;

}

form label {
  color: #312e2e;
  font-size: 30px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  height: 40px; /* Adjust the height as needed */
  border: none;
  border-radius: 5px;
}

form textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.contact-button {
  background-color: #901C1C;
  border-radius: 5px;
  width: 170px;
height: 69px;
flex-shrink: 0;
color: #FFF;

cursor: pointer;

text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

* {
  /* box-shadow: 0 0 0 3px red inset; */
}


main {
  margin: 50px;
 

  
 

}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;


}

article {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* flex-direction: block; */
  margin-top: 10px;
  width: 100%;


  justify-content: space-between;
}

.left-side {
  flex-direction: column;
}

.left-side h2 {
  color: rgba(211, 87, 60, 1);

  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.location {
  display: flex;
  align-items: center;
  gap: 10px;

  color: rgba(144, 28, 28, 1);
}

.location h4,
h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: DM Sans;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.pic {
  max-width: 20%;
  border-radius: 50%;
  object-fit: cover;
  /* width: 200px; */
  /* height: 200px; */

}

.left-side p {
  color: #525252;

  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* photgraphe media  */


.photographe_medias {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.media-element {
  width: calc(33.33% - 20px);
  margin: 10px;
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}


.media-element img,
.media-element video {

  /* max-width: 50%; 
  aspect-ratio: 8/5; */

  width: 350px;
  height: 300px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}

/* active */
.media-element img.active,
.media-element video.active {

  /* max-width: 50%; 
  aspect-ratio: 8/5; */

  width: 350px;
  height: 300px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  text-align: left;
  width: 75%;
}

.info h2 {
  margin-left: -8px;

}

.likes {
  display: flex;
/* align-items: center;
justify-content: center; */

margin-right: -10px;
justify-content: space-around;
width: 15%;


}

.fas.fa-heart {
 
  color: #901c1c;
  width: 21px;
  height: 24px;


}
.heart-button {
 
  color: #901c1c;
  width: 21px;
  height: 24px;
  z-index: 999;

  position: absolute;
  margin-left: -10px;
 


}

.likes p {
 
  color: #901C1C;
font-family: DM Sans;
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: normal;
 
  
 

}


/* encart likes */

.encartLikes {
 
 
  width: 70%;

  align-items: center;
  justify-content: space-around;
  margin-bottom: 2%;
  position: fixed;
  /* top:20px; */
  bottom: -29px;



  z-index: 100;
 

 

}

.encart {
  margin-left: 106%;
  margin-top: 195px;
  height: 50px;
flex-shrink: 0;


  display: flex;
  width: 30%;
  justify-content: space-between;
  background-color:#DB8876 ;
  align-items: center;

  color: #000;

text-align: right;
font-family: DM Sans;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;


}


.encart h2 {

  width: 40%;
  color: #000;

  text-align: right;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 10px;

}

.likestotal {
  width: 20%;
  display: flex;
  margin-left: 10px;


  color: #000;

  text-align: right;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}





.totalLikes {
 
}

.likes span  {
  
  /* margin-left: -90px;
  margin-top: 2px; */

 

  
 
}




/* Style for the filter container */
.filtre {
  position: relative;
  margin-bottom: 58px;
}

.filtre-label {
  color: black;
  font-weight: 700;
  padding-top: 9px;
}

.filtre-liste {
  position: absolute;
  top: 0;
  left: 80px;
  z-index: 100;
  width: 170px;
}

#filtre-select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #901c1c;
  cursor: pointer;
  appearance: none; /* Remove default arrow in Firefox */
}

/* #filtre-select:hover {
  background-color: white;
  color: #901c1c;
} */

/* Style for options */
#filtre-select option {
  background-color: #901c1c;
  color: white;
}

#filtre-select option:hover {
  background-color: white;
  color: #901c1c;
}




