#contact_modal {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 100%;
  height: 96vh;
  z-index: 1000;
  border: none;

  background-color: rgba(255, 255, 255, 0.9);

  .filter {
    z-index: -1;
  }
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 40%;
  height: 100vh;
  border: none;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: -10px;

  height: auto;
  max-height: 100%;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 30px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
}

form textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.contact-button {
  background-color: #901c1c;
  border-radius: 5px;
  width: 170px;
  height: 69px;
  flex-shrink: 0;
  color: #fff;

  cursor: pointer;

  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

* {
  /* box-shadow: 0 0 0 3px red inset; */
}

main {
  margin: 50px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

article {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  justify-content: space-between;
}

.left-side {
  flex-direction: column;
}

.left-side h2 {
  color: rgba(211, 87, 60, 1);

  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.location {
  display: flex;
  align-items: center;
  gap: 10px;

  color: rgba(144, 28, 28, 1);
}

.location h4,
h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: DM Sans;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.pic {

  height: 200px;
  width: 200px;
  border-radius: 50%;
 
}

.left-side p {
  color: #525252;

  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* photgraphe media  */

.photographe_medias {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.media-element {
  width: calc(33.33% - 20px);
  margin: 10px;
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.media-element img,
.media-element video {
  width: 350px;
  height: 300px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}

/* active */
.media-element img.active,
.media-element video.active {
  width: 350px;
  height: 300px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  text-align: left;
  width: 75%;
}

.info h2 {
  margin-left: -8px;
}

.likes {
  display: flex;
  margin-right: -10px;
  justify-content: space-around;
  width: 15%;
}

.fas.fa-heart {
  color: #901c1c;
  width: 21px;
  height: 24px;
}

.heart-button {
  color: #901c1c;
  width: 21px;
  height: 24px;
  position: absolute;
  margin-left: -10px;
}

.likes p {
  color: #901c1c;
  font-family: DM Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* encart likes */

.encartLikes {
  width: 70%;

  align-items: center;
  justify-content: space-around;
  margin-bottom: 2%;
  position: fixed;
  /* top:20px; */
  bottom: -29px;
  z-index: 100;
}

.encart {
  margin-left: 106%;
  margin-top: 195px;
  height: 50px;
  flex-shrink: 0;

  display: flex;
  width: 30%;
  justify-content: space-between;
  background-color: #db8876;
  align-items: center;

  color: #000;

  text-align: right;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.encart h2 {
  width: 40%;
  color: #000;

  text-align: right;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 10px;
}

.likestotal {
  width: 20%;
  display: flex;
  margin-left: 10px;

  color: #000;

  text-align: right;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Style for the filter container */
.filtre {
  position: relative;
  margin-bottom: 58px;

  margin-left: 5%;
}

.filtre-label {
  color: black;
  font-weight: 700;
  padding-top: 9px;
}

.filtre-liste {
  position: absolute;
  top: 0;
  left: 80px;
  /* z-index: 100; */
  width: 170px;
}

#filtre-select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #901c1c;
  cursor: pointer;
  appearance: none;
}

/* Style for options */
#filtre-select option {
  background-color: #901c1c;
  color: white;
}

#filtre-select option:hover {
  background-color: white;
  color: #901c1c;
}

#lightbox-title {
  color: #901c1c;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -30px;
}
