#contact_modal {
  display: none;
}


main {
    margin: 50px ;
   
  
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;


}

article {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* flex-direction: block; */
  margin-top: 10px;
  width: 100%;

  justify-content: space-between;
}

.left-side {
  flex-direction: column;
}

.left-side h2 {
  color: rgba(211, 87, 60, 1);

  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.location {
  display: flex;
  align-items: center;
  gap: 10px;

  color: rgba(144, 28, 28, 1);
}
.location h4,
h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: DM Sans;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.pic {
  max-width: 20%;
  border-radius: 50%;
  object-fit: cover;
  /* width: 200px; */
/* height: 200px; */

}

.left-side p {
    color: #525252;

font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* photgraphe media  */


.photographe_medias {
 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  padding: 10px; 
}

.media-element {
  width: calc(33.33% - 20px); 
  margin: 10px; 
  font-size: medium;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  
}


.media-element img,
.media-element video {
 
  /* max-width: 50%; 
  aspect-ratio: 8/5; */

  width: 350px;
height: 300px;
flex-shrink: 0;
object-fit: cover;
}

.media-element h2 {
  margin-top: 10px; 
}

.btn-likes {
  margin-top: 10px;
}



/* Style for the filter container */
.filtre {
  position: relative;
  margin-bottom: 58px;
}
.filtre-label {
  color: black;
  font-weight: 700;
  padding-top: 9px;
}
.filtre-liste {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 80px;
  z-index: 100;
  width: 170px;
  height: 69px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #901c1c;
  cursor: pointer;
  height: auto;
}
.filtre-liste button {
  background-color: #901c1c;
  color: white;
  border: none;
  cursor: pointer;
}
.filtre-liste-active {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.filtre-liste-inactive {
  display: none;
  text-align: left;
  width: 100%;
  padding: 10px;
}
.filtre-liste-inactive:hover {
  background-color: white;
  color: #901c1c;
}
.filtre-liste .ouverture {
  display: block;
}
.filtre-liste .option1 {
  border-top: white solid 1px;
  border-bottom: white solid 1px;
  padding: 10px;
}













.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
